<body>
	<h1 align="center"><u>Farmers All Natural Milk</u></h1>
	<h3 align="center"><u>Every Drop Of Milk Counts</u></h3>
	<br>
	<br>
	<img width="90%" height="700px" style="margin-left: 5%; margin-bottom: 5%;" src="https://cdn.dribbble.com/users/3768006/screenshots/9999670/media/b37bcf36ddf84b4a81580d6763900641.png?compress=1&resize=640x480&vertical=top" alt="First slide">
	<div class="container-fluid">
	<h5>We Are Since 2022 The Main Motive OF Our WebSite Is To Build Easiest Path For Farmers To Store Their Day To Day Bills THis Site Flexible To Use </h5>
	<h6>Milk is a wholesome food among all the animal products. It contains in proper proportions the various essential food ingredients required by human body in an easily digestible form. Inclusion of milk in the human diet increases the digestibility of other types of food as well.</h6>
	<p>Dairy farming has been an important part of the
		agricultural scenario for thousands of years. India being
		a predominantly agrarian economy has about 70 per
		cent of its population living in villages, where livestock
		play a crucial role in the socio-economic life. Livestock
		provide high-quality foods such as milk, cheese, butter,
		ghee, etc. India is not only one of the top producers of
		milk in the world, but also the largest consumer of milk
		and milk products in the world. Due to the shortfall in
		supply, we have to import significant amounts of milk
		products to meet internal demand.
		Agriculture and animal husbandry have a symbiotic
		relationship, in which the agricultural sector provides
		feed and fodder for the livestock and animals provide
		milk, manure and draught power for various agricultural
		operations. Dairy sector is instrumental in bringing
		socio-economic transformation in India. It has created
		a lot of employment opportunities and also provides
		improved nutritional benefits.
		 Animal husbandry is a major sub-sector of
		agriculture sector and contributes about 28.6 per cent to the
		agricultural value output (Annual Report 2017–18,
		Department of Animal Husbandry, Dairying and
		Fisheries, Government of India). The growth rate of 6.27
		Introduction to
		Dairy Farming
		
		per cent and 6.37 per cent during 2015–16 and 2016–
		17, respectively in the livestock sub-sector is much
		faster than the overall 0.7 per cent and 4.9 per cent
		growth rate of agriculture and allied sector during the
		same period (Economic Survey, 2016–17). The statistics
		indicate that there is a lot of employment potential for
		entrepreneurial activities in the dairy sector</p>
	</div>
	<img src="assets\gify.gif" style="margin-left: 5%;" width="1800px" height="600px" float="middel">
	</body>
	<footer class="footer-distributed">
	
				<div class="footer-left">
	
					<h3> <span>Farmers All Natural Milk</span></h3>
	
					<p class="footer-links">
						<a href="#" class="link-1">Home</a>
						
						<a href="#">Blog</a>
					
						<a href="#">Pricing</a>
					
						<a href="#">About</a>
						
						<a href="#">Faq</a>
						
						<a href="#">Contact</a>
					</p>
	
					<p class="footer-company-name">Farmers All Natural Milk © 2022</p>
				</div>
	
				<div class="footer-center">
	
					<div>
						<i class="fa fa-map-marker"></i>
						<p><span></span> Telangana, Hyderabad</p>
					</div>
	
					<div>
						<i class="fa fa-phone"></i>
						<p>+91 6300288825</p>
					</div>
	
					<div>
						<i class="fa fa-envelope"></i>
						<p><a href="mailto:support@company.com">support@dairyfarmers.com</a></p>
					</div>
	
				</div>
	
				<div class="footer-right">
	
					<p class="footer-company-about">
						<span>About the company</span>
						We Are Here To Build Easiest Path For Farmers To Store Their Day To Day Bills.
					</p>
	
					<div class="footer-icons">
	
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-github"></i></a>
	
					</div>
	
				</div>
	
			</footer>