body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rPxxmD8WSMxpHwxrb4geKs4bMN9xJZyeOg&usqp=CAU');
    background-size: 2000px 700px;
    padding-bottom: 30%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
  }
  .modal {
    margin-left: 30%;
    width: 40% ;
    margin-top: 10%;
    align-items: center;
  }
  .checkit{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7rPxxmD8WSMxpHwxrb4geKs4bMN9xJZyeOg&usqp=CAU');
    background-size: 400px 400px;
    size: 400px;
    padding: 3px;
  }