<form #loginForm="ngForm" class="form-group" (ngSubmit)="loginSubmit(loginForm.value)">
    <br>
    <b>Login Id : </b><input type="text" style="width: 30%" class="form-control" placeholder="Enter your login ID" ngModel name="loginId" #loginId="ngModel" minlength="1" maxlength="12" required><br><br>
    <div *ngIf="loginId.errors?.['required'] && loginId.touched">Please Enter Login Id</div>
    <div *ngIf="loginId.errors?.['minlength'] && loginId.dirty">Login Id must contain min 1 chars</div><br>
    <b>Password : </b><input type="password" style="width: 30%" class="form-control" placeholder="Enter your password" ngModel name="pswd" #password="ngModel" minlength="4" maxlength="12" required><br><br>
    <div *ngIf="password.errors?.['required'] && password.touched">Please Enter Password</div>
    <div *ngIf="password.errors?.['minlength'] && password.dirty">Password must contain min 4 chars</div>
    <button [disabled]=loginForm.invalid class="btn btn-info">Login</button>
</form>

     