<body>
<div class="container" style="padding-top: 4%;">
    <div class="row" style="margin-bottom: 5%;">
        <div id="high" class="col-md-6">
            <div class="card">
                <img (click)="navcust()" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ6-YoPHWHQiazHM4_fDvh3h57zYf0gduLSl8pc1F8Xv9uloNJCh5_M7IH2VGfQLUA3U4&usqp=CAU" class="card-img-top" alt="...">
            <div>
                    <div class="card-body">
                        <h5 class="card-title">Customer Details</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="high" class="card">
                <img (click)="navallrecord()" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRzjNq_lMOy8Dozx1VkzbISu2RyXmbB22-pDSliEi2779NSFffD" class="card-img-top hover" alt="...">
            <div>
                    <div class="card-body">
                        <h5 class="card-title">Records</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="high" class="card">
                <img (click)="navrecord()" src="https://www.freeiconspng.com/thumbs/recording-icon/record-icon-9.png" class="card-img-top hover" alt="...">
           <div>
                    <div class="card-body">
                        <h5 class="card-title">Today's Records</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="high" class="card">
                <img (click)="navprice()" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRj4BxfP2uDq8fFX-P91TOh23paFpg9xHawkjRamWHJENzAmNKI" class="card-img-top hover" alt="...">
            <div>
                    <div class="card-body">
                        <h5 class="card-title">Price Update</h5>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div></body>